In [3]:
import pandas as pd

In [19]:
data = pd.read_csv("SmsCollection.csv", sep='\t')
new_data = pd.DataFrame(data['label;text'].str.split(';', 1))
new_data['modified'] = new_data['label;text'].apply(lambda x: ','.join(x))
new_data[['label', 'text']] = new_data['modified'].str.split(',', 1, expand=True)

In [51]:
final_data = new_data[['label', 'text']]

In [52]:
final_data.head()

  label                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [53]:
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [103]:
y_true = [1, 1, 2, 7]
y_pred = [2, 2, 3, 8]

In [104]:
mean_absolute_error(y_true, y_pred)

1.0

In [105]:
mean_squared_error(y_true, y_pred)

1.0

##  Run an experiment on any dataset obtained from the web, measure MSE and MAE

In [106]:
cars = pd.read_csv("cars.csv")

In [107]:
cars.shape

(205, 26)

In [108]:
cars.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [110]:
list(cars.columns)

['car_ID',
 'symboling',
 'CarName',
 'fueltype',
 'aspiration',
 'doornumber',
 'carbody',
 'drivewheel',
 'enginelocation',
 'wheelbase',
 'carlength',
 'carwidth',
 'carheight',
 'curbweight',
 'enginetype',
 'cylindernumber',
 'enginesize',
 'fuelsystem',
 'boreratio',
 'stroke',
 'compressionratio',
 'horsepower',
 'peakrpm',
 'citympg',
 'highwaympg',
 'price']