In [3]:
import pandas as pd

In [19]:
data = pd.read_csv("SmsCollection.csv", sep='\t')

In [20]:
data.head()

                                          label;text
0  ham;Go until jurong point, crazy.. Available o...
1                  ham;Ok lar... Joking wif u oni...
2  spam;Free entry in 2 a wkly comp to win FA Cup...
3  ham;U dun say so early hor... U c already then...
4  ham;Nah I don't think he goes to usf, he lives...

In [27]:
new_data = pd.DataFrame(data['label;text'].str.split(';', 1))

In [28]:
new_data

                                             label;text
0     [ham, Go until jurong point, crazy.. Available...
1                  [ham, Ok lar... Joking wif u oni...]
2     [spam, Free entry in 2 a wkly comp to win FA C...
3     [ham, U dun say so early hor... U c already th...
4     [ham, Nah I don't think he goes to usf, he liv...
...                                                 ...
5569  [spam, This is the 2nd time we have tried 2 co...
5570        [ham, Will ü b going to esplanade fr home?]
5571  [ham, Pity, * was in mood for that. So...any o...
5572  [ham, The guy did some bitching but I acted li...
5573                  [ham, Rofl. Its true to its name]

[5574 rows x 1 columns]