# Titanic dataset
The main idea behind the competition is to come
up with a model to predict whether someone survived the Titanic disaster or not based on a
training set of people for whom you know whether they survived or not.

## imports libraries

In [1]:
import pandas as pd

## loads dataset

In [3]:
data = pd.read_csv("titanic_data/train.csv")

# 2A Preparation

Once you have registered on Kaggle (use VU-DM-2022-group as your team name where group
is your group number in the course), do the following:
  - Download the Titanic training set and explore the data (what attributes are there, what
    are their types, what are their distributions, do you see any obvious correlations). De-
    scribe you most important findings.
    
  - Based on your findings during the exploration phase, prepare the data for a learning algorithm:
    what attributes should you select, should you transform certain attributes to
    make them usable in the learning algorithm, etc. Describe which selections/transformations
    you have made and provide a rationale for you choices.

In [4]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

# 2B Classification and evaluation
Now that you are familiar with the dataset you can apply different classifiers.
- Create a setup that enables you to evaluate a classifier (i.e. create a training and test set
    based upon the dataset you have downloaded from Kaggle).
- Apply and evaluate at least two classification algorithms based on your evaluation setup.
- Take your best classifier and apply it to the test set posted on Kaggle, upload your re-
    sults. Report on your score on the leadership board and explain whether this is accor-
    dance with your expectations.